saved_interpolated_cartesian_data/
saved_interpolated_z_data/
combined_downloaded_bessaker_data/
downloaded_raw_bessaker_data/
log/
tensorboard_log/
runs/
.vscode/
__pycache__/
OLD/
CNN_models/OLD
GAN_models/OLD
.DS_Store